@charset "UTF-8";

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/notokr-light.eot) format("eot"),
    url(../fonts/notokr-light.woff) format("woff"),
    url(../fonts/notokr-light.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/notokr-regular.eot) format("eot"),
    url(../fonts/notokr-regular.woff) format("woff"),
    url(../fonts/notokr-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/notokr-medium.eot) format("eot"),
    url(../fonts/notokr-medium.woff) format("woff"),
    url(../fonts/notokr-medium.woff2) format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/notokr-bold.eot) format("eot"),
    url(../fonts/notokr-bold.woff) format("woff"),
    url(../fonts/notokr-bold.woff2) format("woff2");
}
